<div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-12">
        <!-- Preview Image -->
        <img class="img-fluid rounded mx-auto d-block" src="{{ SITEURL }}/{{ PATH_CONTENT_IMG }}/{{ article.card_image }}" alt="">
        <hr>
        <!-- Date/Time -->
        <p>Pubblicato il <i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }} da <i class="fas fa-user"></i> {{ article.author }}</p>
        <hr>
        <!-- Post Content -->
        <h2 class="lead">{{ article.title }}</h2>
        <div class="card-text text-justify">{{ article.content }}</div>
        {% if article.download %}
            <p class="text-center"><a href="{{ SITEURL }}/{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download</a></p>
        {% endif %}
        {% if article.license %}
            <p>Licenza: {{ article.license }}</p>
        {% endif %}
        <hr>
      </div>
</div>
