    {{ '<div class="row">' if loop_index==1 }}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank""><img class="card-img-top" src="{{ PATH_CONTENT_IMG }}/{{ article.card_image }}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title"><a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank">{{ article.title }}</a></h4>
            <div class="card-text text-justify">{{ article.summary }}</div>
             <div class="row">
              <div class="col-lg-12">
                <div class="float-left"><a class="btn btn-sm btn-outline-primary" href="{{ SITEURL }}/{{ article.url }}">Continua</a></div>

                <!-- Pulsante Download -->
                {% if article.download %}
                  <div class="float-right"><a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i> Download</a></div>
                {% endif %}

              </div>
            </div>
          </div>
          <div class="card-footer text-muted"><b>Documento del {{ article.date|strftime('%d-%m-%Y') }}</b><br><i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }} <i class="fas fa-user"></i> {{ article.author }}</div>
        </div>
      </div>
    {{ '</div>' if loop_last }}
