    <div class="card mb-4">
       <div class="card-body">
         <div class="row">
           <div class="col-lg-6">
             <a href="{{ PATH_CONTENT_PDF }}/{{ article.locandina }}" target="_blank"><img class="img-fluid rounded" src="{{ PATH_CONTENT_IMG }}/{{ article.card_image }}" alt=""></a>
           </div>
           <div class="col-lg-6">
             <h2 class="card-title">{{ article.title }}</h2>
             <div class="card-text text-justify">{{ article.summary }}</div>
             <div class="text-left"><a class="btn btn-sm btn-outline-primary" href="{{ SITEURL }}/{{ article.url }}">Continua</a></div>

             <!-- Pulsante Download -->
             {% if article.download %}
                <p class="text-right"><a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i> Download</a></p>
             {% endif %}

             <!-- Pulsante Locandina -->
             {% if article.locandina %}
                <p class="text-right"><a href="{{ PATH_CONTENT_PDF }}/{{ article.locandina }}" target="_blank" class="btn btn-primary"><i class="fa fa-tasks"></i> Locandina</a></p>
             {% endif %}

           </div>
         </div>
       </div>
      <div class="card-footer text-muted"><b>Evento del {{ article.date|strftime('%d-%m-%Y') }}</b> | Pubblicato il <i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }} da <i class="fas fa-user"></i> {{ article.author }}</div>
    </div>
