<!-- Footer -->
<footer class="py-5 bg-light">
  <div class="container">
    <p class="m-0 text-center text-black">&copy; {{ FOOTER }}</p>
    <span class="m-0 text-center text-black">
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="RPEFXLFRY22VL" />
        <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </span>
    <p class="m-0 text-center text-black"><a href="privacy-policy.html">Privacy Policy</a></p>
  </div>
</footer>
