<!-- Page Content -->
<h1 class="col-lg-12 my-4 text-center">GNU/Linux User Group Catania</h1>
<p class="text-justify">Il nostro mezzo di comunicazione principale è la mailing list. Per iscriverti, <a href="https://lists.catania.linux.it/accounts/signup/?next=/hyperkitty" target="_blank">clicca quì.</a></p>
<p class="text-justify">Una volta iscritto, noterai due liste disponibili: <strong>LUG</strong> (dedicata alla libera comunicazione) e <strong>LINUX</strong> (dedicata al supporto tecnico su GNU/Linux).<br>Lì puoi decidere se seguire entrambi i canali oppure solo uno di essi. Per ulteriori informazioni, <a href="mailing-lists.html" target="_self">clicca quì.</a></p>
<hr>

<!-- Free Software -->
<div class="row">
<div class="col-lg-6">
  <h3>Perché il Free Software?</h3>
  <p class="text-justify">Tutti interagiamo ogni giorno con il software libero, ma molti non sanno perché è necessario preferirlo al software proprietario. Noi vogliamo correggere questo comportamento (e pensiamo che anche tu dovresti farlo!). A destra un talk <strong>TEDx di Richard M. Stallman</strong> che spiega con semplicità cosa è il software libero e perché dovremmo usarlo tutti.</p>
</div>
<div class="col-lg-6 embed-responsive embed-responsive-16by9 rounded">
  <iframe sandbox="allow-same-origin allow-scripts allow-popups" src="https://diode.zone/videos/embed/443a6ca2-a0d5-45a1-9e9d-1cb14041dbe2?title=0&warningTitle=0&peertubeLink=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<!-- /.row -->
<hr>
<!-- Open Source -->
<div class="row">
<div class="col-lg-6 d-flex">
  <img class="img-fluid rounded mx-auto" src="images/index/opensource.jpg" title="Open Source" alt="Open Source">
</div>
<div class="col-lg-6">
  <h3>Qual è la differenza tra Software Libero e Open-Source?</h3>
  <p class="text-justify"><strong>Open Source</strong> e <strong>Software Libero</strong>, seppure siano sovente utilizzati come sinonimi, hanno definizioni differenti: l'Open Source Initiative ha definito il termine "open source" per descrivere soprattutto libertà sul codice sorgente di un'opera. Il concetto di software libero descrive più generalmente le libertà applicate ad un'opera ed è prerequisito che il suo codice sia consultabile e modificabile, rientrando generalmente nella definizione di open source.</p>
</div>
</div>
<!-- /.row -->
<hr>
<!-- Video Linux Day -->
<div class="row">
<div class="col-lg-12 text-center">
  <h2>Catania GNU/Linux Day 2019 Reloaded</h2>
</div>
<div class="embed-responsive embed-responsive-16by9 rounded">
  <iframe sandbox="allow-same-origin allow-scripts allow-popups" src="https://diode.zone/videos/embed/17ac60e9-548b-46ec-a604-1166f6f97430?title=0&warningTitle=0&peertubeLink=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<!-- /.row -->
<hr>
<!-- Linux Day ed Eventi -->
<div class="row mb-4">
<div class="col-md-8">
  <p class="text-justify">Dal 2001 il <strong>Linux Day</strong> è una iniziativa distribuita per conoscere ed approfondire Linux ed il software libero. Si compone di numerosi eventi locali, organizzati autonomamente da gruppi di appassionati nelle rispettive città, tutti nello stesso giorno. In tale contesto puoi trovare talks, workshops, spazi per l'assistenza tecnica, gadgets, dibattiti e dimostrazioni pratiche.</p>
</div>
<div class="col-md-4">
  <a class="btn btn-lg btn-outline-primary btn-block" href="eventi.html">I nostri eventi</a>
</div>
</div>

<!-- /.container -->
