    <div class="row">
      <div class="col-md-7">
        <a href="{{ article.card_url }}" target="_blank">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ PATH_CONTENT_IMG }}/{{ article.card_image }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 class="card-title">{{ article.title }}</h3>
        <div class="card-text text-justify">{{ article.content }}</div>
        <a class="btn btn-primary" href="{{ article.card_url }}" target="_blank" rel="nofollow"><i class="fa fa-globe"></i> {{ article.card_button_label }}
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    <hr>
