    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="heading{{ loop_index }}">
          <div class="mb-0">
            <h4><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop_index }}" aria-expanded="true" aria-controls="collapse{{ loop_index }}">{{ article.title }}</a></h4>
            <div class="text-secondary mb-0">Pubblicato il <i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }}</div>
          </div>
        </div>
        <div id="collapse{{ loop_index }}" class="collapse{{ " show" if loop_index==1 }}" role="tabpanel" aria-labelledby="heading{{ loop_index }}">
          <div class="card-body text-justify">{{ article.content }}</div>
        </div>
      </div>
    </div>
