<!-- Paginator -->
{% if DEFAULT_PAGINATION and articles_page and articles_paginator.num_pages > 1 %}
<ul class="pagination justify-content-center mb-4">

{% if articles_page.has_previous() %}
  <li class="page-item"><a href="{{ SITEURL }}/{{ articles_paginator.page(1).url}}" class="page-link">&laquo;</a></li>
  <li class="page-item"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="page-link">&lsaquo;</a></li>
{% else %}
  <li class="page-item disabled"><a href="#" class="page-link">&laquo;</a></li>
  <li class="page-item disabled"><a href="#" class="page-link">&lsaquo;</a></li>
{% endif %}

{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
  <li class="page-item{{ ' active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ articles_paginator.page(num).url }}" class="page-link">{{ num }}</a></li>
{% endfor %}

{% if articles_page.has_next() %}
  <li class="page-item"><a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="page-link">&rsaquo;</a></li>
  <li class="page-item"><a href="{{ SITEURL }}/{{ articles_paginator.page(articles_paginator.num_pages).url}}" class="page-link">&raquo;</a></li>
{% else %}
  <li class="page-item disabled"><a href="#" class="page-link">&rsaquo;</a></li>
  <li class="page-item disabled"><a href="#" class="page-link">&raquo;</a></li>
{% endif %}

</ul>
{% endif %}
