    {{ '<div class="row">' if loop_index==1 }}
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ article.title }}" data-date="{{ article.date_1 }}" data-modified="{{ article.modified|strftime('%d-%m-%Y') }}" data-author="{{ article.author }}" data-image="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_1 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" data-target="#image-gallery"><img class="img-thumbnail" src="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_1 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" alt="Another alt text"></a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ article.title }}" data-date="{{ article.date_2 }}" data-modified="{{ article.modified|strftime('%d-%m-%Y') }}" data-author="{{ article.author }}" data-image="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_2 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" data-target="#image-gallery"><img class="img-thumbnail" src="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_2 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" alt="Another alt text"></a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ article.title }}" data-date="{{ article.date_3 }}" data-modified="{{ article.modified|strftime('%d-%m-%Y') }}" data-author="{{ article.author }}" data-image="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_3 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" data-target="#image-gallery"><img class="img-thumbnail" src="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_3 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" alt="Another alt text"></a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="{{ article.title }}" data-date="{{ article.date_4 }}" data-modified="{{ article.modified|strftime('%d-%m-%Y') }}" data-author="{{ article.author }}" data-image="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_4 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" data-target="#image-gallery"><img class="img-thumbnail" src="{{ PATH_PHOTOGALLERY_IMG }}/{{ article.image_4 }}?auto=compress&cs=tinysrgb&dpr=2&h={{ article.h }}&w={{ article.w }}" alt="Another alt text"></a>
      </div>
    {{ '</div>' if loop_last }}

    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body">
            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
          </div>
          <div class="modal-footer card-footer">
            <div class="text-muted text-center">
              <span><b>Foto del <span id="image-gallery-date"></span></b><br> Pubblicata il <i class="fas fa-calendar-alt"></i> <span id="image-gallery-modified"></span> da <i class="fas fa-user"></i> <span id="image-gallery-author"></span></span>
            </div>
            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i></button>
            <button type="button" class="btn btn-secondary float-right" id="show-next-image"><i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
