    {{ '<div class="row">' if loop_index==1 }}
      <div align="center" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <iframe class="img-thumbnail" title="{{ article.titolo_1 }}" src="{{ article.video_1 }}" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
      </div>
      <div align="center" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <iframe class="img-thumbnail" title="{{ article.titolo_2 }}" src="{{ article.video_2 }}" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
      </div>
      <div align="center" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <iframe class="img-thumbnail" title="{{ article.titolo_3 }}" src="{{ article.video_3 }}" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
      </div>
      <div align="center" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <iframe class="img-thumbnail" title="{{ article.titolo_4 }}" src="{{ article.video_4 }}" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
      </div>
    {{ '</div>' if loop_last }}
