{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}

<!-- Breadcrumb_page -->
{% block breadcrumb %}
    {% if DISPLAY_BREADCRUMBS %}
        <h1 class="mt-4 mb-3">{{ article.title }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ category.url }}">{{ article.category }}</a></li>
            <li class="breadcrumb-item active">{{ article.title }}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

<!-- Content -->
{% block content %}

{% include 'includes/details.html' %}

{% endblock content %}
