<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/modern-business.css" rel="stylesheet">

  <!-- Cookie Bar CSS -->
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/jquery.cookiebar.css" rel="stylesheet">

  <!-- Photogallery CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/photogallery.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="{{ SITEURL }}/{{ STATIC_PATH }}/favicon.png" type="image/png">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/{{ STATIC_PATH }}/glugct.png"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse brackets" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for title, link in MENU_ITEMS %}

            {% if title == "Associazione" %}
              <li class="nav-item dropdown">
                {% if title.lower() == output_file[:-5] %}
                  <a class="nav-link active" href="#" id="navbarDropdownAssociazione" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
                {% else %}
                  <a class="nav-link" href="#" id="navbarDropdownAssociazione" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAssociazione">
                  {% for subtitle, sublink in SUB_MENU_ASSOCIAZIONE %}
                    {% if sublink[-4:].lower() == "html" %}
                      <a class="dropdown-item" href="{{ SITEURL }}/{{ sublink }}">{{ subtitle }}</a>
                    {% elif sublink[-3:].lower() == "pdf" %}
                      <a class="dropdown-item" href="{{ SITEURL }}/{{ sublink }}" target="_blank">{{ subtitle }}</a>
                    {% else %}
                      <a class="dropdown-item" href="{{ sublink }}" target="_blank">{{ subtitle }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>

            {% elif title == "Gallery" %}
              <li class="nav-item dropdown">
                {% if title.lower() == output_file[:-5] %}
                  <a class="nav-link active" href="#" id="navbarDropdownAssociazione" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
                {% else %}
                  <a class="nav-link" href="#" id="navbarDropdownAssociazione" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAssociazione">
                  {% for subtitle, sublink in SUB_MENU_GALLERY %}
                    <a class="dropdown-item" href="{{ SITEURL }}/{{ sublink }}">{{ subtitle }}</a>
                  {% endfor %}
                </div>
              </li>

            {% else %}
              <li class="nav-item">
                {% if title.lower() == output_file[:-5] %}
                  <a class="nav-link active" href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
                {% else %}
                  <a class="nav-link" href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
                {% endif %}
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  {% block carousel %}
  {% endblock carousel %}

  <div class="container">

      <!-- Breadcrumb_base -->
      {% block breadcrumb %}
      {% endblock breadcrumb %}

      <!-- Content -->
      {% block content %}
      {% endblock content %}

  </div>

{% include 'includes/footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.bundle.min.js"></script>

  {% if output_file[:-5].lower() == "iscrizione" %}
    <!-- Subscribe form JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/subscribe.js"></script>
  {% elif output_file[:-5].lower() == "conferma-iscrizione" %}
    <!-- Confirm subscribe form JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/confirm_subscribe.js"></script>
  {% elif output_file[:-5].lower() == "conferma-rinnovo" %}
    <!-- Confirm rinnovo form JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/confirm_renewals.js"></script>
  {% elif output_file[:-5].lower() == "rinnovo-quota-associativa" %}
    <!-- Paypal payments -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/paypal_rinnovo.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AY-FisxXekCcKun-PYzEcpJbgJRyOYjNm78K3dl6NmTduCPK7ivewDO6-FkLT2LGyaRQAzD2bOW2ysJ2&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
    <script type="text/javascript">
        initPayPalButton();
    </script>
  {% elif output_file[:-5].lower() == "pagamento-studente" %}
    <!-- Paypal payments -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/paypal_studente.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AY-FisxXekCcKun-PYzEcpJbgJRyOYjNm78K3dl6NmTduCPK7ivewDO6-FkLT2LGyaRQAzD2bOW2ysJ2&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
    <script type="text/javascript">
        initPayPalButton();
    </script>
  {% elif output_file[:-5].lower() == "pagamento-ordinario" %}
    <!-- Paypal payments -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/paypal_ordinario.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AY-FisxXekCcKun-PYzEcpJbgJRyOYjNm78K3dl6NmTduCPK7ivewDO6-FkLT2LGyaRQAzD2bOW2ysJ2&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
    <script type="text/javascript">
        initPayPalButton();
    </script>
  {% elif output_file[:-5].lower() == "contatti" %}
    <!-- Contact form JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/contact_me.js"></script>
  {% elif output_file[0:12].lower() == "photogallery" %}
    <!-- Photogallery form JavaScript -->
    <!-- 0:12 confina il nome del file photogallery o photogallery2 -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/photogallery.js"></script>
  {% endif %}

  <!-- Cookie JavaScript -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.cookiebar.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $.cookieBar({
          });
      });
  </script>

  <!-- Switching between pages by a clean fade-in -->
  <script>
    document.body.classList.add('fade');
    document.addEventListener("DOMContentLoaded", function(e) {
    document.body.classList.remove('fade');
    });
  </script>

</body>
</html>
