{% extends "base.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock title %}

<!-- Breadcrumb_category -->
{% block breadcrumb %}
    {% if DISPLAY_BREADCRUMBS %}
        <h1 class="mt-4 mb-3">{{ category }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{ category }}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

<!-- Content -->
{% block content %}
{% for article in (articles_page.object_list if articles_page else articles) %}
    <!-- loop non funziona fuori dal ciclo for -->
    <!-- vengono dichiarate due variabili che contengono index e last -->
    {% set loop_index = loop.index %}
    {% set loop_last = loop.last %}

    {% if article.category == 'Photogallery' %}
        <!-- Blocco HTML per PHOTOGALLERY -->
        {% include 'includes/photogallery.html' %}
    {% elif article.category == 'Videogallery' %}
        <!-- Blocco HTML per VIDEOGALLERY -->
        {% include 'includes/videogallery.html' %}
    {% elif article.category == 'News' %}
        <!-- Blocco HTML per NEWS -->
        {% include 'includes/news.html' %}
    {% elif article.category == 'Eventi' %}
        <!-- Blocco HTML per EVENTI -->
        {% include 'includes/eventi.html' %}
    {% elif article.category == 'Documenti' %}
        <!-- Blocco HTML per DOCUMENTI -->
        {% include 'includes/documenti.html' %}
    {% else %}
        <!-- Blocco HTML per LINKS -->
        {% include 'includes/links.html' %}
    {% endif %}

{% endfor %}

{% include 'includes/pagination.html' %}

{% endblock content %}
