{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    {% if DISPLAY_BREADCRUMBS %}
        <h1 class="mt-4 mb-3">{{ article.title }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{ article.title }}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

<!-- Content -->
{% block content %}
<div class="row">
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{ PATH_CONTENT_IMG }}/{{ article.card_image }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title"><a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank">{{ article.title }}</a></h4>
        <div class="card-text text-justify">{{ article.summary }}</div>
        <p><a href="{{ PATH_CONTENT_PDF }}/{{ article.download }}" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i> Download</a></p>
      </div>
      <div class="card-footer text-muted"><b>Documento del {{ article.date|strftime('%d-%m-%Y') }}</b> | <i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }} <i class="fas fa-user"></i> <a href="{{ article.author.url }}">{{ article.author }}</a></div>
    </div>
  </div>
</div>
{% endblock content %}
