{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}

<!-- Breadcrumb -->
{% block breadcrumb %}
    {% if DISPLAY_BREADCRUMBS %}
        <h1 class="mt-4 mb-3">{{ article.title }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{ article.title }}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

<!-- Content -->
{% block content %}
<div class="card mb-4">
   <div class="card-body">
     <div class="row">
       <div class="col-lg-6">
         <a href="{{ PATH_EVENT_CONTENT_PDF }}/{{ article.locandina }}" target="_blank"><img class="img-fluid rounded" src="{{ PATH_EVENT_CONTENT_IMG }}/{{ article.card_image }}" alt=""></a>
       </div>
       <div class="col-lg-6">
         <h2 class="card-title">{{ article.title }}</h2>
         <div class="card-text text-justify">{{ article.content }}</div>
         <p><a href="{{ PATH_EVENT_CONTENT_PDF }}/{{ article.download }}" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i> Download</a></p>
         <p><a href="{{ PATH_EVENT_CONTENT_PDF }}/{{ article.locandina }}" target="_blank" class="btn btn-primary"><i class="fa fa-tasks"></i> Locandina</a></p>
       </div>
     </div>
   </div>
   <div class="card-footer text-muted"><b> Evento del {{ article.date|strftime('%d-%m-%Y') }}</b> | <i class="fas fa-calendar-alt"></i> {{ article.modified|strftime('%d-%m-%Y') }} <i class="fas fa-user"></i> <a href="{{ article.author.url }}">{{ article.author }}</a></div>
 </div>
{% endblock content %}
