{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock title %}

<!-- Breadcrumb_page -->
{% block breadcrumb %}
    {% if DISPLAY_BREADCRUMBS %}
        <h1 class="mt-4 mb-3">{{ page.title }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>
    {% endif %}
{% endblock breadcrumb %}

<!-- Content -->
{% block content %}
{{ page.content }}
{% endblock content %}
