/*!
 * Start Bootstrap - Modern Business
 */
 body {
  padding-top: 56px;
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
  opacity: 0;
  transition: none;
}

a {
  outline: none;
}

.carousel-item {
  height: 100vh; /** Prima era 65vh **/
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}


/* Nuove modifiche */

/* {} Brackets */

.nav-item a:before, .nav-item a:after
{
  opacity: 0;
  font-size: inherit;
  top: 0px;
  transition: all 0.3s;
}

.nav-item a:before
{
  content: '{ ';
  transform: translateX(10px);
}

.nav-item a:after
{
  content: ' }';
  transform: translateX(-10px);
}

li.nav-item a:hover:before, li.nav-item a:hover:after
{
  opacity: 1;
  transform: translateX(0px);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active:before, .navbar-light .navbar-nav .nav-link.active:after, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  opacity: 1;
  transform: translateX(0px);
}

/* End {} Brackets */

@media screen and (max-width: 640px) {
  .carousel-item {
    height: 0vh;
    min-height: 300px;
    background-size: 120% 90%;
  }
}
